/* Contact Page */

.contact-right {
  margin-top: 0.5em;
}

.contact-form-card {
  background-image: linear-gradient(10deg, var(--primarycolor-l3), var(--primarycolor-l4));
  padding: 1em;
  border-radius: var(--std-border-radius);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.contact-container {
  display: grid;
  align-items: flex-start;
}

/* Responsive layout */

@media only screen and (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width:768px) {
  .contact-container {
    grid-template-columns: 5fr 4fr;
  }
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-inputs input[type=text], .form-inputs textarea {
  border-radius: var(--std-border-radius);
  border: 0;
  padding: 0.3em;
  margin-bottom: 0.3em;
  font-size: 0.9em;
  font-family: inherit;
  color: var(--primarycolor-d4);
  background: linear-gradient(var(--secondarycolor-l0), var(--secondarycolor-l0));
  background-size: 0 0.3em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color 400ms;
}

.form-inputs input[type=text]:focus, .form-inputs textarea:focus {
  outline: none;
  background-size: 100% 0.3em;
}

.form-inputs input[type=text] {
  height: 1.6em;
  background-color: var(--primarycolor-l5);
}

.form-inputs textarea {
  min-height: 10em;
  background-color: var(--primarycolor-l5);
  resize: none;
}

.form-inputs label {
  color: var(--primarycolor-d4);
  margin: 0 0;
  display: flex;
  align-items: center;
}

.form-inputs p {
  color: var(--primarycolor-d4);
  font-weight: bold;
  margin: 5px 0px;
}

.form-inputs span {
  font-size: 0.8em;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s ease-in infinite alternate-reverse;
}

.red-underline input[type=text], .red-underline textarea {
  background: linear-gradient(var(--errorcolor), var(--errorcolor));
  background-size: 100% 0.3em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}

.red-underline input[type=text]:focus, .red-underline textarea:focus {
  background-size: 100% 0.3em !important;
}

.form-submit-container {
  display: flex;
  margin-top: 0.5em;
  justify-content: flex-end;
  align-items: center;
}

.submit-message {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.form-inputs input[type=submit] {
  height: 2em;
  padding: 0.3em;
  margin-left: 1em;
  max-width: 150px;
  border-radius: var(--std-border-radius);
  border: 0;
  color: var(--primarycolor-l5);
  background-color: var(--primarycolor-d4);
  font-size: 1em;
  flex-basis: 5em;
}

.form-inputs input[type=submit]:hover {
  color: var(--primarycolor-d4);
  background-color: var(--primarycolor-l4);
}

@keyframes shake {
  0% {
    transform: translate(1em, 0px);
  }
  100% {
    transform: translate(-0.5em, 0px);
  }
}