/* Contact Page */

.contact-right {
  margin-top: 0.5em;
}

.contact-form-card {
  text-align: left;
  overflow: hidden;
}

.contact-container {
  display: grid;
  align-items: flex-start;
}

/* Responsive layout */

@media only screen and (max-width: 769px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width:768px) {
  .contact-container {
    grid-template-columns: 5fr 4fr;
  }
}

.form-inputs input[type=text], .form-inputs textarea {
  background: linear-gradient(var(--color-bg-primary-dark), var(--color-bg-primary-dark));
  background-size: 0 0.2em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color 400ms;
}

.form-inputs input[type=text]:focus, .form-inputs textarea:focus {
  outline: none;
  background-size: 100% 0.2em;
}

.form-inputs input[type=text] {
  height: 2em;
  background-color: var(--color-bg-white);
}

.form-inputs textarea {
  min-height: 10em;
  background-color: var(--color-bg-white);
  resize: none;
}

.form-inputs label {
  margin: 0 0;
  display: flex;
  align-items: center;
}

.form-inputs span {
  font-size: 0.8em;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s ease-in infinite alternate-reverse;
}

.red-underline input[type=text], .red-underline textarea {
  background: linear-gradient(var(--errorcolor), var(--errorcolor));
  background-size: 100% 0.3em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}

.red-underline input[type=text]:focus, .red-underline textarea:focus {
  background-size: 100% 0.3em !important;
}

@keyframes shake {
  0% {
    transform: translate(1em, 0px);
  }
  100% {
    transform: translate(-0.5em, 0px);
  }
}