/* Contact Page */

.contact-right {
  margin-top: 0.5em;
}

.contact-form-card {
  text-align: left;
  overflow: hidden;
}

.contact-container {
  display: grid;
  align-items: flex-start;
}

/* Responsive layout */

@media only screen and (max-width: 769px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .contact-container {
    grid-template-columns: 5fr 4fr;
  }
}

.form-inputs input[type='text'],
.form-inputs textarea {
  border-bottom: 1px solid var(--color-bg-primary-light);
  background: transparent;
  transition: border-color 200ms;
}

.form-inputs input[type='text']:focus,
.form-inputs textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--color-bg-primary-dark);
}

.form-inputs input[type='text'] {
  height: 2em;
  background-color: var(--color-bg-white);
}

.form-inputs textarea {
  min-height: 10em;
  background-color: var(--color-bg-white);
  resize: none;
}

.form-inputs label {
  margin: 0 0;
  display: flex;
  align-items: center;
}

.form-inputs span {
  font-size: 0.8em;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s ease-in infinite alternate-reverse;
}

.red-underline input[type='text'],
.red-underline textarea {
  border-bottom: 2px solid var(--errorcolor) !important;
}

@keyframes shake {
  0% {
    transform: translate(1em, 0px);
  }
  100% {
    transform: translate(-0.5em, 0px);
  }
}
