.footer {
    background-color: var(--primarycolour-d2);
    color: var(--primarycolour-l5);
    padding: 0.5em;
  }
  
  .footer-copyright {
    margin: 0;
    padding: 0.5em;
    text-align: center;
  }
  
  .footer-nav-dropdown-container {
    margin: 0 auto 0 auto;
    padding: 0.5em;
  }
  
  .footer-link {
    color: inherit;
    background: linear-gradient(var(--secondarycolour-l0), var(--secondarycolour-l0)), linear-gradient(var(--secondarycolour-l0), var(--secondarycolour-l0));
    background-size: 100% 0.15em, 0 1em;
    background-position: 0% 100%, 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms, color 400ms;
  }
  
  .footer-link:hover, .footer-link:focus {
    background-size: 0 0.1em, 100% 1.2em;
    color: var(--primarycolour-l5);
  }

  /*
  *
  * Dropdown menu
  *
  */

  .nav-dropdown-container {
    margin: 0 auto 0 auto;
    padding: 0.5em;
    padding-top: 1em;
  }
  
  .nav-dropdown {
    background-color: var(--primarycolour-d2);
    padding: 0;
    color: var(--primarycolour-l5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  @media only screen and (min-width: 425px) {
    .nav-dropdown {
      justify-content: center;
    }
  }
  
  .nav-link {
    background-color: inherit;
    color: var(--primarycolour-l4);
    font-size: 1em;
    text-align: left;
    border: 2px solid var(--primarycolour-l4);
    border-radius: var(--std-border-radius);
    padding: 0.1em 0.4em 0.2em 0.4em;
    margin: 0.1em 0.1em;
  }
  
  .nav-link:hover, .nav-link:focus {
    color: var(--secondarycolour-l1);
    border-color: var(--secondarycolour-l1);
  }
  
  .nav-icon {
    padding: 0em 0.2em 0em 0em;
  }