/* Header */

.header-dropdownmenu-container {
  background-color: var(--primarycolor-d2);
  padding: 0.5em;
}

.header-logo-container {
  height: 100%;
  margin: 0.5em;
}

.header-logo {
  width: 3em;
  height: 3em;
  padding: 0.2em;
  border-radius: var(--std-border-radius);
  box-shadow: 0 0 0 0.15em var(--header-footer-accent);
  margin-right: 1em;
}

.title {
  display: inline;
  color: var(--light-text);
  margin: 0.2em 0;
}

.title-surname {
  color: var(--secondarycolor-l1);
}

.subtitle {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.5em + 1vmin);
  color: var(--header-footer-accent);
  margin: 0em 0.3em;
}

.dropdown-header {
  display: flex;
}

.dropdown-theme-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.dropdown-burger, .theme-button {
  width: 2em;
  height: 2em;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 0.15em;
  color: var(--light-text);
  box-shadow: 0 0 0 0.15em var(--light-text);
}

.dropdown-burger {
  margin-left: 0.5em;
}

.dropdown-burger-symbol {
  font-size: 1.5em;
}

.theme-button>.fa-sun:hover {
  color: rgb(255, 221, 30);
}

.theme-button>.fa-moon:hover {
  color: rgb(228, 228, 228);
}

.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

/* Show dropdown menu and burger for smaller screens */

@media only screen and (max-width: 800px) {
  .title {
    margin: 0;
  }
  div .subtitle {
    display: block;
  }
  .dropdown-burger {
    display: flex;
  }
  .header-logo-container {
    display: none;
  }
  .title-and-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dropdown-header {
    display: none;
  }
}

/* Hide dropdown menu and burger for smaller screens */

@media only screen and (min-width:801px) {
  .dropdown-burger {
    display: none;
  }
  .header-logo-container {
    display: flex;
  }
  .title-and-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .dropdown-menu-container {
    display: none;
  }
}

/* Hide middle name for small mobile screens */

@media only screen and (max-width: 450px) {
  .title-middlename {
    display: none;
  }
  .dropdown-theme-buttons {
    flex-direction: column-reverse;
  }
  .dropdown-burger {
    margin-left: 0;
    margin-bottom: 0.5em;
  }
}

/* Header button */

.header-button-wrapper {
  background: linear-gradient(var(--secondarycolor-l1), var(--secondarycolor-l1));
  background-size: 0 0.2em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  display: flex;
  border-width: 0px;
  padding: 0;
}

.header-button-wrapper:hover, .header-button-wrapper:focus {
  background-size: 100% 0.2em;
  color: var(--secondarycolor-l1);
}

.header-button {
  font-size: 1em;
  color: var(--light-text);
  margin: 0.1em;
  padding: 1.5em 0.2em 0.35em 0.2em;
}

/* Dropdown navigation */

.dropdown-menu-container {
  margin: 0 auto 0 auto;
  padding: 0.5em;
  padding-top: 1em;
}

.dropdown-menu {
  background-color: var(--primarycolor-d2);
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media only screen and (min-width: 425px) {
  .dropdown-menu {
    justify-content: center;
  }
}

.dropdown-link {
  background-color: inherit;
  color: var(--light-text);
  text-align: left;
  border: 0.15em solid var(--light-text);
  border-radius: var(--std-border-radius);
  padding: 0.1em 0.4em 0.2em 0.4em;
  margin: 0.1em 0.1em;
}

.dropdown-link:hover, .dropdown-link:focus {
  color: var(--secondarycolor-l1);
  border-color: var(--secondarycolor-l1);
}

.dropdown-icon {
  padding: 0em 0.2em 0em 0em;
}

/* Footer */

.footer {
  background-color: var(--primarycolor-d2);
  color: var(--light-text);
  padding: 0.5em;
}

.footer-copyright {
  margin: 0;
  padding: 0.5em;
  text-align: center;
  font-size: 0.9em;
}

.footer-dropdown-menu-container {
  margin: 0 auto 0 auto;
  padding: 0.5em;
}

.footer-link {
  color: inherit;
  background: linear-gradient(var(--secondarycolor-l0), var(--secondarycolor-l0)), linear-gradient(var(--secondarycolor-l0), var(--secondarycolor-l0));
  background-size: 100% 0.15em, 0 100%;
  background-position: 0% 100%, 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color 400ms;
}

.footer-link:hover, .footer-link:focus {
  background-size: 0 0.1em, 100% 100%;
  color: var(--primarycolor-l5);
}