/* Header */

.header-dropdownmenu-container {
    background-color: var(--primarycolour-d2);
    padding: 0.5em;
  }
  
  .header-logo-container {
    height: 100%;
    margin: 0.5em;
  }
  
  .header-logo {
    display: inline;
    width: 3em;
    height: 3em;
    padding: 0.2em;
    border-radius: var(--std-border-radius);
    box-shadow: 0 0 0 0.15em var(--primarycolour-l4);
    margin-right: 10px;
  }
  
  .title {
    display: inline;
    font-size: 2em;
    color: var(--primarycolour-l6);
    margin: 20px 0px 20px 0px;
    text-align: center;
  }
  
  .title-surname {
    color: var(--secondarycolour-l1);
  }
  
  .subtitle {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(0.5em + 1vmin);
    color: var(--primarycolour-l3);
    margin: 1px 5px 10px 5px;
  }
  
  .nav-header {
    display: flex;
  }
  
  .dropdown-burger {
    width: 2em;
    height: 2em;
    background-color: var(--primarycolour-d2);
    align-items: center;
    justify-content: center;
    color: var(--primarycolour-l6);
    padding: 0;
    position: relative;
    border: 0;
    border-radius: 0.15em;
    box-shadow: 0 0 0 0.15em var(--primarycolour-l5);
  }
  
  .dropdown-burger:hover, .dropdown-burger:focus {
    background-color: var(--primarycolour-l3);
  }
  
  .dropdown-burger-symbol {
    font-size: 1.5em;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media only screen and (max-width: 800px) {
    .title {
      margin-bottom: 0px !important;
      margin-right: 0px !important;
      margin-top: 0px !important;
    }
    div .subtitle {
      display: block;
    }
    .dropdown-burger {
      display: flex;
    }
    .subtitle {
      margin-bottom: 0px !important;
    }
    .header-logo-container {
      display: none;
    }
    .title-and-subtitle {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .nav-header {
      display: none;
    }
  }
  
  @media only screen and (min-width:801px) {
    .dropdown-burger {
      display: none;
    }
    .header-logo-container {
      display: inline;
    }
    .title-and-subtitle {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .title-middlename {
      display: none;
    }
    .dropdown-burger {
      bottom: 3px !important;
    }
  }
  
  /* Header button */
  
  .button-header-wrapper {
    background: linear-gradient(var(--secondarycolour-l1), var(--secondarycolour-l1)), linear-gradient(var(--secondarycolour-l1), var(--secondarycolour-l1));
    background-size: 100% 0em, 0 0.2em;
    background-position: 100% 100%, 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    display: flex;
    border-width: 0px;
    padding: 0;
    font-size: 1em;
  }
  
  .button-header {
    color: var(--primarycolour-l6);
    margin: 0.1em;
    padding: 1.2em 0.2em 0.35em 0.2em;
  }
  
  .button-header-wrapper:hover, .button-header-wrapper:focus {
    background-size: 0 0em, 100% 0.2em;
    color: var(--secondarycolour-l1);
  }
  
  /* Dropdown navigation */
  
  .nav-dropdown-container {
    margin: 0 auto 0 auto;
    padding: 0.5em;
    padding-top: 1em;
  }
  
  .nav-dropdown {
    background-color: var(--primarycolour-d2);
    padding: 0;
    color: var(--primarycolour-l5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  @media only screen and (min-width: 425px) {
    .nav-dropdown {
      justify-content: center;
    }
  }
  
  .nav-link {
    background-color: inherit;
    color: var(--primarycolour-l4);
    font-size: 1em;
    text-align: left;
    border: 2px solid var(--primarycolour-l4);
    border-radius: var(--std-border-radius);
    padding: 0.1em 0.4em 0.2em 0.4em;
    margin: 0.1em 0.1em;
  }
  
  .nav-link:hover, .nav-link:focus {
    color: var(--secondarycolour-l1);
    border-color: var(--secondarycolour-l1);
  }
  
  .nav-icon {
    padding: 0em 0.2em 0em 0em;
  }
  
  /* Footer */
  
  .footer {
    background-color: var(--primarycolour-d2);
    color: var(--primarycolour-l5);
    padding: 0.5em;
  }
  
  .footer-copyright {
    margin: 0;
    padding: 0.5em;
    text-align: center;
  }
  
  .footer-nav-dropdown-container {
    margin: 0 auto 0 auto;
    padding: 0.5em;
  }
  
  .footer-link {
    color: inherit;
    background: linear-gradient(var(--secondarycolour-l0), var(--secondarycolour-l0)), linear-gradient(var(--secondarycolour-l0), var(--secondarycolour-l0));
    background-size: 100% 0.15em, 0 1em;
    background-position: 0% 100%, 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms, color 400ms;
  }
  
  .footer-link:hover, .footer-link:focus {
    background-size: 0 0.1em, 100% 1.2em;
    color: var(--primarycolour-l5);
  }