/* Global styles */

:root {
  --errorcolor: #f01a23;
  --errorcolorbackground: #f4575f;
  --std-border-radius: 0.35em;
  --image-background: #653815;
  --light-text: #fffcfa;
  --header-footer-accent: #f3d8c4;
}

html[data-theme='light'] {
  --primarycolor-l5: #fbf3ed;
  --primarycolor-l5background: #fbf4eecc;
  --primarycolor-l4: #f3d8c4;
  --primarycolor-l3: #e6b189;
  --primarycolor-l2: #da8b4e;
  --primarycolor-l1: #b96627;
  --primarycolor-l0: #80461b;
  --primarycolor-d1: #723f18;
  --primarycolor-d2: #653815;
  --primarycolor-d3: #583113;
  --primarycolor-d4: #4c2a10;
  --primarycolor-d5: #3f230d;
  --primarycolor-d6: #1a0c01;
  --secondarycolor-l0: #05997e;
  --secondarycolor-l1: #08cfab;
  --secondarycolorbackground: #05997eb3;
  --secondarycoloroverlay: #05997e1a;
  --dategrey: #404040;
}

html[data-theme='dark'] {
  --primarycolor-l5: #3f230d;
  --primarycolor-l5background: #3f230dcc;
  --primarycolor-l4: #4c2a10;
  --primarycolor-l3: #583113;
  --primarycolor-l2: #653815;
  --primarycolor-l1: #653815;
  --primarycolor-l0: #653815;
  --primarycolor-d1: #653815;
  --primarycolor-d2: #653815;
  --primarycolor-d3: #e6b189;
  --primarycolor-d4: #f3d8c4;
  --primarycolor-d5: #fbf3ed;
  --primarycolor-d6: #fffcfa;
  --secondarycolor-l0: #12b99b;
  --secondarycolor-l1: #08cfab;
  --secondarycolorbackground: #05997eb3;
  --secondarycoloroverlay: #05997e1a;
  --dategrey: #d3d3d3;
}

body, div, section, button {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 600;
  font-size: 2em;
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
}

h3 {
  font-weight: 500;
  font-size: 1.2em;
}

p {
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

@import url(./markdown.css);
@import url(./header-footer.css);
@import url(./cover-image.css);
@import url(./card.css);
@import url(./contact-page.css);

/* Status messages */

.error-message {
  color: var(--light-text);
  background-color: var(--errorcolorbackground);
  border: 2px solid var(--errorcolor);
  border-radius: var(--std-border-radius);
  padding: 2px 8px;
}

.success-message {
  color: var(--primarycolor-l5);
  background-color: var(--secondarycolorbackground);
  border: 2px solid var(--secondarycolor-l0);
  border-radius: var(--std-border-radius);
  padding: 2px 8px;
}

/* Effect keyframes */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Loader spinner */

.spinner {
  width: 2.0em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.spinner>div {
  width: 0.5em;
  height: 0.5em;
  background-color: var(--primarycolor-d4);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Content */

.content-wrapper {
  height: inherit;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.content-text {
  padding: 0 0.5em;
}

.card-container-gallery {
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: min(1em, 3vmin) min(1em, 3vmin);
}

/* Responsive Layouts */

.medium-col {
  max-width: 740px;
}

.large-col {
  max-width: 900px;
}

/* Single-column layout */

.app-content-wrapper {
  background-color: var(--primarycolor-l5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primarycolor-d6);
}

.content {
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 0.5em;
  width: min(740px, calc(100% - 1em));
}

/* Article formatting */

.article-date-and-tags {
  padding: 5px 0px;
}

.article-date-share-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
}

.article-share-button, .article-share-button:active {
  color: var(--primarycolor-d5);
  padding: 0.1em 0.5em;
  border: 2px solid var(--secondarycolor-l0);
  border-radius: var(--std-border-radius);
  background: linear-gradient(var(--secondarycolor-l0), var(--secondarycolor-l0)), linear-gradient(var(--secondarycolor-l0), var(--secondarycolor-l0));
  background-size: 100% 0em, 0 100%;
  background-position: 0% 100%, 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color 400ms;
}

.article-share-button:hover {
  background-size: 0 0.1em, 100% 100%;
  color: var(--primarycolor-l5);
}

.article-date-container {
  margin: 0;
  font-size: 0.9em;
  font-style: italic;
  color: var(--dategrey);
}

.article-date-container>*:nth-child(2) {
  margin-left: 1em;
}

@media only screen and (max-width: 500px) {
  .article-date-container {
    display: grid;
    grid-template: 1fr 1fr / 2fr 3fr;
  }
  .article-date-container>*:nth-child(2) {
    margin-left: 0;
  }
}

/* Page navigation buttons */

.posts-navigation-container {
  display: flex;
  justify-content: flex-end;
  margin: 1em 1em 0em 1em;
}

.posts-navigation-button, .posts-navigation-button:active {
  padding: 0.4em 0.8em;
  display: inline;
  color: var(--primarycolor-l5);
  background-color: var(--secondarycolor-l0);
  border: 0;
  border-left: 0.15em solid var(--primarycolor-l5);
  font-size: 0.8em;
}

.posts-navigation-button:hover, .posts-navigation-button:focus {
  color: var(--primarycolor-d4);
  background-color: var(--secondarycoloroverlay);
}

.posts-navigation-button:first-child {
  border-left: 0;
  border-radius: var(--std-border-radius) 0px 0px var(--std-border-radius);
}

.posts-navigation-button:last-child {
  border-radius: 0px var(--std-border-radius) var(--std-border-radius) 0px;
}

/* Home Page Style */

.card-container {
  width: inherit;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1em 1em;
}

.site-intro-container {
  background-color: var(--primarycolor-l5background);
  max-width: 55%;
  padding: 0.5em 1em;
  border-radius: var(--std-border-radius);
  margin-left: auto;
  height: 100%;
}

@media only screen and (max-width: 425px) {
  .site-intro-container {
    max-width: 100%;
  }
}

.site-intro-welcome {
  text-align: start;
}

.social-media-icon-container a {
  width: 1.4em;
}

.social-media-icon-container img {
  height: 1.4em;
  margin: 0.2em;
}

.site-intro {
  min-height: 40vmin;
  border-radius: var(--std-border-radius);
  background: var(--primarycolor-d2) url(../images/rockbackground.jpg) no-repeat center;
  background-size: cover;
  padding: min(1em, 3vmin);
  padding-right: min(2em, 3vmin);
  display: flex;
  animation: 0.3s fadeIn both ease-in;
  align-items: center;
  justify-content: flex-end;
}

.index-share-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-subheader {
  margin-left: 5px;
  margin-block-start: 10px;
  margin-block-end: 15px;
  display: flex;
  justify-self: start;
}

.read-more-container {
  margin: 12px 8px 5px 5px;
  display: flex;
  justify-content: flex-end;
  color: var(--primarycolor-d4);
}

.read-more-link {
  background: linear-gradient(var(--secondarycolor-l0), var(--secondarycolor-l0));
  background-size: 0 0.15em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms ease-in;
}

.read-more-link:hover {
  background-size: 88% 0.15em;
}

.read-more-link:hover > i {
  animation: wobble 300ms ease 300ms infinite alternate;
}

@keyframes wobble {
  0% {transform: translate(0%, 0); }
  100% {transform: translate(50%, 0); }
}

/* Tag Page */

.card-tag-container-tagpage {
  display: flex;
  flex-wrap: wrap;
}