@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .error-message {
    @apply rounded border-2 px-2 py-0.5 text-sm text-std-secondary;
    background-color: theme('colors.error');
    border-color: theme('colors.error-border');
  }
  .success-message {
    @apply rounded border-2 px-2 py-0.5 text-sm text-std-secondary;
    background-color: theme('colors.success');
    border-color: theme('colors.success-border');
  }
  .tag-button {
    @apply rounded border-2 border-transparent px-1 py-0.5 text-sm hover:bg-transparent focus:bg-transparent;
    background-color: theme('backgroundColor.primary-dark');
    color: theme('textColor.std-secondary');
  }
  .tag-button:hover,
  .tag-button:focus {
    border-color: theme('colors.primary-dark');
  }
  .std-button {
    @apply rounded px-2 py-1;
    background-color: theme('backgroundColor.secondary-light');
    color: theme('textColor.std-secondary');
  }
  .std-button:hover,
  .std-button:focus {
    @apply shadow-md;
    background-color: theme('backgroundColor.primary-dark');
  }
}

/* Global styles */

:root {
  --color-text-primary-std: #000;
  --color-text-secondary-std: #f2f2f2;

  --errorcolor: hsl(357, 88%, 52%);
  --errorcolorbackground: hsl(357, 88%, 65%);
  --successcolor: hsl(169, 80%, 25%);
  --successcolorbackground: hsl(169, 88%, 35%);
  --std-border-radius: 0.35em;
}

html[data-theme='light'] {
  --color-text-primary: #000;
  --color-text-secondary: #f2f2f2;
  --color-bg-primary-lighter: #e0f0fa;
  --color-bg-primary-light: #5e9abf;
  --color-bg-primary-dark: #2d6da6;
  --color-bg-secondary-light: #a6432d;
  --color-bg-secondary-dark: #733e22;
  --color-bg-white: #fbf3ed;
  --color-bg-white-overlay: #fbf3edde;
  --color-dategrey: #404040;
}

html[data-theme='dark'] {
  --color-text-primary: #f2f2f2;
  --color-text-secondary: #000;
  --color-bg-primary-lighter: #1a1b1b;
  --color-bg-primary-light: #1a1b1b;
  --color-bg-primary-dark: #536f8a;
  --color-bg-secondary-light: #271611;
  --color-bg-secondary-dark: #ffa27a;
  --color-bg-white: #313130;
  --color-bg-white-overlay: #313130d7;
  --color-dategrey: #d3d3d3;
}

body,
div,
section,
button {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 600;
  font-size: 2em;
}

h2 {
  font-weight: 600;
  font-size: 1.5em;
}

h3 {
  font-weight: 600;
  font-size: 1.2em;
}

p {
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

@import url(./markdown.css);
@import url(./header-footer.css);
@import url(./contact-page.css);

/* Loader spinner */

.spinner {
  width: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.spinner > div {
  width: 0.5em;
  height: 0.5em;
  background-color: var(--color-bg-primary-dark);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Home Page */
#summary {
  border: 0;
  background: linear-gradient(
    var(--color-bg-primary-dark),
    var(--color-bg-primary-dark)
  ),
  linear-gradient(var(--color-bg-primary-dark), var(--color-bg-primary-dark));
  background-size: 3.2em 0.25em;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color 400ms;
  padding-top: 0.3em;
  margin-top: 1em;
}

/* Content */

.card-container-gallery {
  width: inherit;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: min(1em, 3vmin) min(1em, 3vmin);
}

/* Article formatting */

.article-share-button,
.article-share-button:active {
  background: linear-gradient(
      var(--color-bg-primary-dark),
      var(--color-bg-primary-dark)
    ),
    linear-gradient(var(--color-bg-primary-dark), var(--color-bg-primary-dark));
  background-size: 100% 0em, 0 100%;
  background-position: 0% 100%, 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color 400ms;
}

.article-share-button:hover {
  background-size: 0 0.1em, 100% 100%;
  color: var(--color-text-secondary-std);
}

.article-date-container > *:nth-child(2) {
  margin-left: 1em;
}

@media only screen and (max-width: 500px) {
  .article-date-container {
    display: grid;
    grid-template: 1fr 1fr / 2fr 3fr;
  }
  .article-date-container > *:nth-child(2) {
    margin-left: 0;
  }
}

/* Page navigation buttons */

.posts-navigation-button,
.posts-navigation-button:active {
  padding: 0.4em 0.8em;
  display: inline;
  color: var(--color-text-secondary-std);
  background-color: var(--color-bg-secondary-light);
  border: 0;
  border-left: 0.15em solid var(--color-bg-white);
}

.posts-navigation-button:hover,
.posts-navigation-button:focus {
  color: var(--color-text-secondary-std);
  background-color: var(--color-bg-primary-dark);
}

.posts-navigation-button:first-child {
  border-left: 0;
  border-radius: var(--std-border-radius) 0px 0px var(--std-border-radius);
}

.posts-navigation-button:last-child {
  border-radius: 0px var(--std-border-radius) var(--std-border-radius) 0px;
}

.read-more-link {
  background: linear-gradient(
    var(--color-bg-primary-dark),
    var(--color-bg-primary-dark)
  );
  background-size: 0 0.15em;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms ease-in;
}

.read-more-link:hover,
.read-more-link:focus {
  background-size: 88% 0.15em;
}

.read-more-link:hover > i,
.read-more-link:focus > i {
  animation: wobble 300ms ease 300ms infinite alternate;
}

@keyframes wobble {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(50%, 0);
  }
}

/* Iframe styling */

.iframe-square {
  height: 305px;
}

.iframe-3-2 {
  height: 205px;
}

/*
* media queries are used to set the iframe dimensions for different screens sizes
*/

@media only screen and (min-width: 450px) {
  .iframe-square {
    height: 455px;
  }
  .iframe-3-2 {
    height: 305px;
  }
}
