/* Markdown formatting */

.markdown-text {
  line-height: 1.6;
  overflow-wrap: break-word;
  color: var(--color-text-primary);
}

.markdown-text h2,
h3,
h4 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.markdown-text h1 {
  font-weight: 500;
  font-size: 1.8em;
}

.markdown-text h2 {
  font-weight: 500;
  font-size: 1.5em;
}

.markdown-text h3 {
  font-weight: 600;
  font-size: 1.2em;
}

.markdown-text p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown-text img {
  width: 100%;
  height: auto;
  border-radius: var(--std-border-radius);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown-text video {
  width: 100%;
  height: auto;
  border-radius: var(--std-border-radius);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown-text a,
.markdown-text strong,
.markdown-text em,
.markdown-text u {
  color: var(--color-text-primary);
}

.markdown-text strong {
  font-weight: 600;
}

.markdown-text a,
.markdown-text a:active {
  border: 0;
  background: linear-gradient(
      var(--color-bg-primary-dark),
      var(--color-bg-primary-dark)
    ),
    linear-gradient(var(--color-bg-primary-dark), var(--color-bg-primary-dark));
  background-size: 100% 0.15em, 0 100%;
  background-position: 0% 100%, 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color 400ms;
}

.markdown-text a:hover,
.markdown-text a:focus {
  background-size: 0 0.1em, 100% 100%;
  color: var(--color-text-secondary-std);
}

.markdown-text blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0.4em 1em 0.4em 2em;
  border-left: 5px solid var(--color-bg-primary-light);
  background-color: var(--color-bg-primary-lighter);
  border-radius: var(--std-border-radius);
  overflow-wrap: anywhere;
}

.markdown-text blockquote p {
  font-style: italic;
  font-weight: 600;
  color: var(--color-text-primary);
}

.markdown-text pre {
  margin-left: 0;
  margin-right: 0;
  padding: 0.4em 1em 0.4em 2em;
  border-left: 5px solid var(--color-bg-primary-light);
  background-color: var(--color-bg-primary-lighter);
  border-radius: var(--std-border-radius);
  overflow-x: auto;
}

.markdown-text blockquote ol > li::marker,
.markdown-text blockquote ul > li::marker {
  color: var(--color-bg-primary-dark);
}

.markdown-text ol {
  counter-reset: li;
  /* Initiate a counter */
  list-style: none;
  /* Remove default numbering */
  *list-style: decimal;
  /* Keep using default numbering for IE6/7 */
  padding-left: 1.6em;
}

.markdown-text ol > li {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  counter-increment: li;
  display: list-item;
}

.markdown-text ol > li::marker {
  display: list-item;
  content: '#' counter(li) ' ';
  font-weight: bold;
  color: var(--color-bg-secondary-dark);
}

.markdown-text ul {
  padding-left: 1.6em;
  list-style: circle outside none;
}

.markdown-text ul > li::marker {
  font-size: 1em;
  font-weight: bold;
  font-family: 'Font Awesome 5 Free';
  content: '\f101 \0020 \0020';
  color: var(--color-bg-secondary-dark);
}

.markdown-text ul > li {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}

.markdown-text iframe {
  width: 100%;
  border: 0;
}

/* Adding margin to bottom of image to provide separation*/
.markdown-text .gatsby-resp-image-wrapper {
  margin-bottom: 1rem;
}

.markdown-text a:hover.gatsby-resp-image-link,
.markdown-text a.gatsby-resp-image-link,
.markdown-text a:active.gatsby-resp-image-link,
.markdown-text a:focus.gatsby-resp-image-link {
  background-size: 0;
}

/* Table formatting */
.markdown-text table {
  width: 100%; /* Make tables responsive */
  border-collapse: collapse; /* Remove spacing between cells */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: var(--std-border-radius);
}

.markdown-text table tr {
  border: 1px solid var(--color-border-primary-lighter); /* Add borders to cells */
  padding: 0.4em;
}

.markdown-text table th,
.markdown-text table td {
  padding: 0.4em;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-text-primary)
}

.markdown-text table th {
  font-weight: 600;
  background-color: var(--color-bg-primary-lighter); /* Style header background */
}